
<html>
    <head>
        <title> DétailsProjet </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <a href="{% url 'projets'%}">Liste projets</a>
        <h2 class="card-title text-center">Détails Tâche : </h2><br>
        <li class="list-group-item list-group-item-secondary">
            <strong>Nom tâche:</strong> {{tache.name}} <br>
            <strong>Développeur:</strong> {{tache.developpeur.first}}<br>
            <strong>Statut:</strong> {{tache.statut_tache}}<br>
            <strong>Description:</strong> {{tache.description}}<br>
            <strong>Durée de la tâche:</strong> {{tache.duree_tache}}<br>
        
        <br><br>
        </li>
    </body>
    </html>