
<html>
    <head>
        <title> DétailsProjet </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <h2 class="card-title text-center">Détails Projet : </h2>
    <li class="list-group-item list-group-item-secondary">
        <strong>Nom: </strong>{{projet.title}}<br>
        <strong>Responsable:</strong> {{projet.responsable.first}}<br>
        <strong>Statut: </strong> {{projet.statut_projet}}
    </li> 
    <li class="list-group-item list-group-item-light">
        Tâches :
        {% for tache in projet.taches.all %}
        <strong>Nom tâche: </strong>{{tache.name}}<br>
        <a href="{% url 'detailsTache' tache_id=tache.id %}" id="btnVoirProjet" class="button">Détails</a><br>
        <a href="{% url 'supprimerUneTache' tache_id=tache.id projet_id=projet.id %}">
            <button id="btnSupprimerProjet" type="button" class="btn btn-danger">Supprimer la tâche</button><br>
        </a>
        {% endfor %}
        
        <br><br>
    </li>
    <a href="{% url 'ajouterUneTache' projet_id=projet.id %}">
        <button id="btnAjouterProjet" type="button" class="btn btn-info">Ajouter une tâche</button>
    </a>
    </body>
    </html>