<html>
    <head>
    <title> DétailsProjet </title>
    <link rel="stylesheet" href="src/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body style="background-color: #1c1d25;">
    <div class="container">
        
        <h2  style="color:white;" class="card-title text-center">Ajouter un projet </h2>
        <div style="background-color: rgb(190, 187, 187);" class="card-body">
            <form  action="" method="post">
                {% csrf_token %}
                {{ formProjet }}  
                </form>
                <button style="align-content: center;" type="submit" class="btn btn-success">
                    Enregistrer
                </button> 
        </div>
        <a style="margin-top: 5px; background-color: coral !important; float: right;" type="button" class="btn" 
                 href="{% url 'projets'%}">Liste projets</a> 
    </div>

</body>
</html>
